<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIPA</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="icon" type="image/png" th:href="@{/imagens/favicon.png}">
</head>

<body>
    <div class="formulario">
        <form action="/login" method="post">
            <h1>CIPA</h1><br>
            <label for="cpf">CPF:</label>
            <input type="text" name="cpf" id="cpf" maxlength="14" required>

            <br>
            <label for="data_nasc">Data Nascimento:</label>
            <input type="text" name="data" id="data_nasc" placeholder="00/00/0000" maxlength="10" required>

            <br>
            <input type="submit" value="Entrar">
        </form>
        <!--
        <a href="/resultado" class="btn_apuracao">Ver Apuração de Votos</a>
        -->
    </div>

    <div class="descricao">

        <h1>Gestão 2025-2026</h1>
        <p>Eleiçoes CIPA 2026</p>

        <div class="logos-topo">
            <img class="logo-pref" th:src="@{/imagens/logopref.png}" alt="Prefeitura">
            <img class="logo-cipa" th:src="@{/imagens/logocipa.png}" alt="CIPA">
        </div>

    </div>
</body>

</html>

<script>
    document.getElementById('cpf').addEventListener('input', function (e) {
        let v = e.target.value.replace(/\D/g, '');

        v = v.replace(/^(\d{3})(\d)/, '$1.$2');
        v = v.replace(/^(\d{3})\.(\d{3})(\d)/, '$1.$2.$3');
        v = v.replace(/\.(\d{3})(\d)/, '.$1-$2');

        e.target.value = v;
    });

    document.getElementById('data_nasc').addEventListener('input', function (e) {
        let v = e.target.value.replace(/\D/g, ''); // Remove tudo que não é número

        // Aplica a máscara dd/mm/yyyy
        if (v.length > 2 && v.length <= 4) {
            v = v.replace(/^(\d{2})(\d)/, '$1/$2');
        } else if (v.length > 4) {
            v = v.replace(/^(\d{2})(\d{2})(\d)/, '$1/$2/$3');
        }

        e.target.value = v;
    });
</script>